:root {
    --background: #FFF7F1;
    --branco-levinho: #ffffffb9;
    --cor-comentarios: #653E39;
    --cor-paragrafos: #834E47;
    --cor-botoes: #EEAF96;
    --cor-titulos: #C27354;
    --bege-elementos: #FFEFE4;
    --cor-nav: #9D5A40;
}

* {
    scroll-behavior: smooth;
}

#menuzinho {
    display: none;
}

.menu-mobile {
    display: none;
}

.menu-mobile.open {
    display: block;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 0;
}

header {
    width: 100%;
    background-color: var(--branco-levinho);
    margin: 0;
    padding: 0;
    z-index: 1;
}

#nav-bar ul {
    font-size: 17px;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    margin: 0;
}

#nav-bar ul li {
    padding: 17px;
    color: var(--cor-nav);
}

#nav-bar a {
    text-decoration: none;
}

a:visited {
    color: var(--cor-nav);
}

#imagem-inicial {
    z-index: 0;
    position: absolute;
    width: 100%;
}

#inicio {
    text-align: center;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    padding: 0;
    border: 1px solid red;
}

#inicio-div {
    border-radius: 18px;
    font-size: 20px;
    width: 340px;
    margin: 0;
    padding: 12px;
    position: relative;
    background-color: var(--branco-levinho);
}

#primeiro-botao {
    position: relative;
    top: -10px;
    background: #000;
    width: 150px; height: 40px;
    background-color: var(--cor-botoes);
    border: none;
    color: white;;
    border-radius: 20px;
    transition: 0.3s ease;
}
#primeiro-botao:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* media query */
@media screen and (max-width: 730px) {

    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Cormorant Garamond';
        margin: auto;
        background-color: var(--background);
    }

    a {
        text-decoration: none;
        color: var(--cor-nav);
    }

    #imagem-inicial {
        display: none;
    }
    #menuzinho {
        z-index: 999;
        background-color: var(--branco-levinho);
        display: block;
        position: relative;
        text-align: right;
        margin: 0;
        padding: 7px 15px;

    }

    .icon {
        transition: 0.2s ease;
    }

    .icon:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .menu-mobile {
        transform: translateY(20px);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s
    }

    .menu-mobile.open {
        color: var(--cor-nav);
        z-index: 1;
        background-color: var(--branco-levinho);
        display: block;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 40px;
        padding: 10px;
        margin: 12px;
        border-radius: 20px;
        visibility: visible;
        /* Permite interação com o menu */
        opacity: 1;
        /* Torna o menu visível */
        transform: translateY(0);
        /* Menu desce para sua posição normal */
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menu-mobile ul {
        list-style: none;
        padding: 12px;
    }

    .menu-mobile ul li {
        padding: 5px;
    }


    #inicio {
        top: 0;
        z-index: 0;
        position: absolute;
        margin: auto;
        font-size: 1.2em;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 490px;
        background-image: url(assets/inicio-bg.jpg);
        background-position: center;
        background-size: cover;
    }

    #inicio-div {
        padding: 10px;
        width: 242px;
        height: 140px;
        background-color: var(--branco-levinho);
        margin-top: 40px;
        margin-left: 130px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        color: var(--cor-titulos);
    }

    sub {
        color: var(--cor-paragrafos);
    }

    #primeiro-botao {
        color: white;
        width: 155px;
        height: 30px;
        background-color: var(--cor-botoes);
        border: none;
        border-radius: 20px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.247);
        transition: 0.3s ease;
        left: 63px; top: -7px;
    }

    #primeiro-botao:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    #nav-bar {
        display: none;
    }

    #menuzinho button {
        background-color: transparent;
        border: none;
    }

    #beleza {

        margin-top: 478px;
        text-align: center;
    }

    h2 {
        padding-bottom: 24px;
        color: var(--cor-titulos);
    }

    #beleza p {
        color: var(--cor-paragrafos);
        padding-bottom: 24px;
    }

    .fotos-menores {
        width: 200px;
    }

    .fotos-maiores {
        width: 360px;
    }

    #beleza img {
        border-radius: 12px;
    }

    .fotos-maiores,
    .fotos-menores {
        border: 4px solid var(--bege-elementos);
    }

    .fotos-menores {
        position: relative;
        z-index: 1;
        margin-top: -15px;
    }

    .fotos-maiores {
        z-index: -1;
        margin: 0;
        padding: 0;
    }

    /* seçao 3 */
    #florzinhas {
        display: inline-flex;
        gap: 275px;

    }

    #sec3 {
        padding: 12px;
        margin-top: 100px;
        text-align: center;
    }

    #sec3 ul {
        font-size: 18px;
        list-style: inside;
        color: var(--cor-paragrafos);
    }

    /* contato */

    .contatodiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #contato {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 181px;
        background-color: var(--bege-elementos);
        border-radius: 13px;
        box-shadow: 0px 5px 3px rgba(117, 117, 117, 0.555);
        margin-top: 100px;
        padding: 40px;
        text-align: center;
    }

    #contato input {
        margin: 15px 8px;
        padding: 9px;
        border-radius: 12px;
        border: none;
    }

    input:focus {
        outline: none;
    }

    #segundo-botao {
        background-color: var(--cor-botoes);
        width: 230px;
        border: none;
        border-radius: 10px;
        padding: 12px;
        color: white;
        transition: 0.3s ease;
    }

    #segundo-botao:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    /* comentarios */

    .h2comentario {
        font-size: 20px;
        text-align: center;
        margin-top: 100px;
        padding: 0;
    }

    #clientes {
        height: 680px;
        background-color: var(--bege-elementos);
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .comentarios {
        background-color: var(--background);
        width: 260px;
        height: auto;
        margin: 37px;
        padding: 18px;
        box-shadow: 0px 5px 3px rgba(117, 117, 117, 0.555);
    }

    .comentarios div {
        padding: 13px;
    }

    #comentario-esquerda {
        border-radius: 0px 25px 25px;
    }

    #comentario-direita {
        border-radius: 25px 0px 25px 25px;
    }

    #comentario-esquerda2 {
        border-radius: 0px 25px 25px;
    }

    .perfis {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid var(--bege-elementos);
    }

    .nomes {
        padding: 5px;
    }

    .review {
        background: white;
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
    }

    svg {
        display: block;
    }

    /* frase */

    #frase {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 60px;
    }

    /* footer */
    footer {
        background: var(--bege-elementos);
        text-align: center;
    }
}